@font-face {
    font-family: 'crimson'; /* Replace 'YourFontName' with the desired font family name */
    src: url('../../assets/Crimson_Text/CrimsonText-Regular.ttf') format('truetype'); /* Adjust the path to your font file */
   
  }
  
.Header{
    width: 100%;
    height: auto;
    background-color: rgb(255, 255, 255);
    align-items: center;
    justify-content: center;

}

.heading-container{
    margin: 0;
    padding: 0;
    display: flex;
    width: 100%;
    height: 140px;
    min-height: 100px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
    background-color:#124e66;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding-bottom: 0px;
    
     
}
#heading{
padding-top: 20px;
 color:rgb(251, 245, 238);
 font-family:'crimson';
 font-size: 50px;
 text-align: center;
 justify-content: center;
 align-items: center;
}

